#prompt-container {
  position: absolute;
    display: flex;
    flex-direction: column;
    left: 50%;
    top: 150px;
    width: 400px;
    border-radius: 5px;
    padding: 15px 0 15px 0;
    transform: translateX(-50%);
    background-color: #303030;
    box-shadow: rgb(0 0 0 / 25%) 0px 13px 15px -10px, rgb(0 0 0 / 25%) 0px 8px 5px -10px;
}

#prompt-text {
  position: relative;
  text-align: center;
  font-size: 14px;
  color: #fff;
}

#prompt-text p {
  position: relative;
  font-size: 14px;
  text-align: center;
  margin-bottom: 10px;
}

#prompt-text a {
  margin: 0 !important;
  padding: 0 !important;
  text-decoration: none;
  color: inherit;
}

#prompt-text a:hover {
  text-decoration: underline;
}

#prompt-grp {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#prompt-grp button {
  margin: 0 10px 0 10px;
  height: 25px;
  width: 75px;
  border: none;
  outline: none;
  color: #fff;
  border-radius: 5px;
  letter-spacing: 2px;
  cursor: pointer;
}

.prompt-action:hover {
  transform: scale(1.1);
}

#prompt-confirm {
  background-color: #5561f5;
}

#prompt-deny {
  background-color: #dd5044;
}
