.user-form {
  position: relative;
  left: 50%;
  top: 50px;
  width: 400px;
  display: flex;
  flex-direction: column;
  transform: translateX(-50%);
  background-color: #303030;
  padding: 10px;
  border-radius: 5px;
  box-shadow: rgb(0 0 0 / 25%) 0px 13px 15px -10px,
    rgb(0 0 0 / 25%) 0px 8px 5px -10px;
  margin-bottom: 50px;
}

.user-form input,
.user-form select,
.user-form button {
  height: 35px !important;
  margin: 10px;
  border-radius: 3px;
  letter-spacing: 2px;
  text-indent: 10px;
  border: none;
  outline: none;
}

.user-name {
  display: flex;
  flex-direction: row;
}

#first_name,
#last_name {
  position: relative;
  width: 50%;
  margin: 10px;
}

#user-upload {
  position: relative;
  width: 50%;
  margin: 10px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #5561f5;
  text-indent: 0;
  color: #fff;
  cursor: pointer;
}

#user-upload:hover {
  transform: translateX(-50%) scale(1.1);
}

@media (max-width: 500px) {
  .user-form {
    width: 300px;
  }

  .user-form * {
    font-size: 12px !important;
  }
}
