body, html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;  
}

* {
  font-family: 'PT Sans', sans-serif !important;
  transition: 250ms all !important;
}

button {
  box-shadow: rgb(0 0 0 / 25%) 0px 13px 15px -10px,
    rgb(0 0 0 / 25%) 0px 8px 5px -10px;
}

::-webkit-scrollbar {
  position: absolute;
  width: 5px;
  height: 7px;
}

::-webkit-scrollbar-thumb {
  position: absolute;
  background-color: rgba(120, 120, 120, 0.5);
  border-radius: 0.2em;
}

:disabled {
  background-color: #808080;
}

:disabled::placeholder {
  color: #606060;
}

.Toastify__toast-theme--dark {
  background: #404040 !important;
}